:root {
  --collection-1-color-blue-100: #3423f0;
  --collection-1-color-blue-200: #4463e2;
  --collection-1-color-blue-300: #5d85ff;
  --collection-1-color-blue-400: #699dff;
  --collection-1-color-blue-500: #74b0ff;
  --collection-1-color-blue-600: #82b8ff;
  --collection-1-color-blue-700: #92c1ff;
  --collection-1-color-blue-800: #a0c9ff;
  --collection-1-color-blue-900: #b0d2ff;
  --collectioin-1-color-blue-1000: #bedaff;
  --collection-1-color-red-100: #750000;
  --collection-1-color-red-200: #b12a2a;
  --collection-1-color-red-300: #8d3131;
  --collection-1-color-red-400: #b54f4f;
  --collection-1-color-red-500: #974f4f;
  --collection-1-color-green-100: #0b3f00;
  --collection-1-color-green-200: #0f5500;
  --collection-1-color-green-300: #126500;
  --collection-1-color-green-400: #156e02;
  --collection-1-color-green-500: #178400;
  --collection-1-color-pink-100: #4a0024;
  --collection-1-color-pink-200: #61002f;
  --collection-1-color-pink-300: #760039;
  --collection-1-color-pink-400: #8e0246;
  --collection-1-color-pink-500: #ab0153;
}
